
.tarjetita {
    /* width: 300px;
    overflow: hidden;
    border: solid 1px rgb(163, 163, 163);
    border-radius: 15px;   */
    text-align: center;  
    margin-bottom: 50px;
    padding: 1.5rem;
}
.imgProd {
    width: 300px;

}

.more_details {
    
    padding: 10px 20px;
    color: black;
    border: none;    
    background-color: rgb(209, 176, 157);
    color: white;
    font-size: 1rem;    
    margin: 0 auto;
    margin-top: 800px;
    border-radius: 5px;
    cursor: pointer;
}