
.delivery_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgb(107, 102, 99);
    height: 225px;
}

.delivery_ilustration {
    width: 125px;
}

.delivery_text{
    font-size: 2rem;
    color: white;
}

/* background-color: rgb(209, 176, 157); */