
.page-not-found{
   /*  height: 50vh; */
    margin-bottom: 5rem;
}

.page-not-found_title1{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    
}

.page-not-found_title2{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    
}

/* .box{
    position: relative;
    width: fit-content;
    margin: 0 auto;
} */

/* .page-not-found_img{
    width: 60px;
    position: absolute;
    top: 30px;
    left: 50px;
} */

.page-not-found_cactus{
    width: 250px;
    margin: 0 auto;
}