
.guarantee_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: white;
    height: 200px;
    margin-bottom: 2rem;
}

.guarantee_ilustration {
    width: 125px;
}

.guarantee_text{
    font-size: 2rem;
}