.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;     
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-inline: 4rem;          
}

.logo {
    display: grid;
    justify-content: center;        
    align-items: center;
    font-size: 1.8rem;
}

.icons_container{
    display:flex;
    gap: 1.7rem;     
    justify-content: flex-end;
    align-items: center;
}

.user {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user_icon {
    margin-top: 10px;
    width: 23px;
}

.magnifying-glass{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.magnifying-glass_icon{
    font-size: 1.5rem;
}

.search{
    padding: 2px;
}